.HeroSec {
  background: url("./assets//Images/HeroImage.jpg") no-repeat center;
  background-size: cover;
}
.NavLink {
  font-family: "fibre-vintage", sans-serif;
  transition: 0.5s ease-in-out;
}
.NavLink::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
  background: linear-gradient();
}
.NavLink:hover::after {
  width: 100%;
  color: #ffffff;
}
.ShopHeroSec {
  background: url(./assets/Images/ShopCategory.jpg) no-repeat center;
  background-size: cover;
}

.foodCard:hover .card-Image {
  transform: rotate3d(0.25, 0.5, 0, 30deg);
  transition: 0.5s ease-in-out;
}
