@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "fibre-vintage";
  src: url(./assets/Fonts/fibre-vintage/fibre-font.otf);
}
body {
  padding-inline: 0.62rem;
  padding-block-start: 1.06rem;
  background: url(./assets/Images/WebsiteBackground.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h2,
h3,
h1 {
  font-family: "fibre-vintage", sans-serif;
}
